/* Add screen styles below */
body{
    background: #03045E;
    margin-top: 100px 
}

.card {
    background: #0077B6;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
     font-family: Arial, Helvetica, sans-serif;
}

.card div {
    padding: 20px;
}

h1 {
    background: #90E0EF;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

img {
    float: left;
    margin-right: 20px;
}